* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a:focus, img:focus {
    outline: none;
}
.photoessay-wrapper {
    height: 100vh;
}
.swiper-slide {
    background-color: #ffffff;
}
.pw-arrow {
    position: fixed;
    width: 2.5vw;
    bottom: 5vh;
    left: 5vw;
    cursor: pointer;
    z-index: 1002;
}
.pw-img-zoom {
    cursor: zoom-in;
    width: 100%;
}
.swiper-wrapper {
    filter: blur(0px);
}
.swiper-wrapper.blur {
    filter: blur(5px);
}
.pw-cover {
    display: table;
    width: 100%;
}
.pwc-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.pwcw-main {
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.pwcwm-bg {
    width: 100%;
}
.pwcwm-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.pwcwm-gallery {
    width: 66.8601277%;
    position: absolute;
    top: 0;
    right: 0;
}
.pwcwm-img {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
}
.pwcwm-img img {
    width: 100%;
}
.pwcwm-title {
    position: absolute;
    top: 22.35169491525424%;
    left: 0;
    width: 38.052095130237824%;
}
.pwcw-main .pw-arrow {
    bottom: 0;
    left: 0;
}
.pw-item {
    display: table;
    width: 100%;
}
.pwi-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.pwiw-main {
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.pwi1wm-title {
    width: 100%;
}
.pwi1wm-album {
    width: 40%;
    position: absolute;
    top: 0;
    right: 0;
}
.pwi1wma-img1 {
    display: block;
    width: 100%;
}
.pwi1wma-img2 {
    display: block;
    width: 34.53757225433526%;
}
.pwi1wma-img3 {
    display: block;
    width: 65.02890173410405%;
}
.pwi1wm-content {
    width: 46.531791907514446%;
    position: absolute;
    top: 16.974972796517957%;
    left: 0;
}
.pw-text {
    font-family: Arial, sans-serif;
    font-size: 1.25vw;
    line-height: 1.71875vw;
    margin-bottom: 2.34375vw;
}
.pw-italic {
    font-style: italic;
}

/*dlthanh*/
.pwiwm1-gallery {
    width: 76.3203714%;
    position: absolute;
    top: 6.91192865%;
    right: 1.0446895%;
}
.pwiwm2-gallery {
    width: 67.6459663%;
    position: absolute;
    top: 0;
    right: 1.0446895%;
}
.pwiwm3-gallery {
    width: 55.4852002%;
    position: absolute;
    top: 0;
    right: 1.0446895%;
}
.pwiwm4-gallery {
    width: 98.2588508%;
    position: absolute;
    top: 28.4280936%;
    left: 0;
}
.pwiwm5-gallery {
    width: 76.3203714%;
    position: absolute;
    top: 0;
    right: 1.0446895%;
}
.pwiwm6-gallery {
    width: 33.6622171%;
    position: absolute;
    top: 46.4882943%;
    left: 0;
}
.pwiwm7-gallery {
    width: 64.6546721%;
    position: absolute;
    top: 7.02341137%;
    right: 1.0446895%;
}
.pwiwm8-gallery {
    width: 76.3203714%;
    position: absolute;
    top: 0%;
    right: 1.0446895%;
}
.pwiwm9-gallery {
    width: 70.6459663%;
    position: absolute;
    top: 0;
    right: 1.0446895%;
}

@media screen and (max-width: 1366px) and (min-width: 1281px){
    .pw-text {
        margin-bottom: 20px;
    }
    .pwcw-main {
        width: 80%;
    }
    .pwiw-main {
        width: 80%;
    }
    .pw-arrow {
        left: 10vw;
    }
}

.pw-reg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1002;
    display: none;
}
.fancybox-bg {
    background-color: #fff;
}